@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-tree{
    background: brown;
    height: 100vh;
    border-right: 10px solid black;
    width: 300px;
}
ul {
    padding-inline-start: 10px;
}
.btn-add{
  background: green;
}
.btn-remove{
  background: brown;
}
