@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-tree{
    background: brown;
    height: 100vh;
}
ul {
    padding-inline-start: 10px;
}

.btn-menu-class {
    height: 15px;
    width: 15px;
    background: blue;
}

