@using System.Composition
@model IEnumerable<Childrens.Models.Item>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML>

<main class="body-height">
    <section class="infosite body-height" >
        @foreach(var item in Model)
        {
            <p>@item.Name</p>
        }
    </section>         
    
    <section class="coll-main">
        <p>Content</p>
    </section>
</main>