.redText-color {
    background-color: blue;
    text-align: center;
    color: blueviolet; 
}

.text-Len {
    color: blue; 
}

.coll-main {
    margin-top: 0;
    width: 80%;
    float: right;
    background: aqua;
    height: 100%; 
}

.infosite {
    width: 20%;
    float: left;
    background: blue
}

.body-height {
    height: 100vh;
}